body{
    background-color: steelblue;
}
div{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: gray;
    /*border: 7px solid white;*/
    border-radius: 100%;
    position: absolute;
    /*border-top-color: orangered;*/


    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;



}
div>h1{
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;




}
div::before{
    content: "";
    border: 10px solid white;
    position: absolute;
    border-radius: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top-color: orangered;

}
div:hover::before{
    transform: rotate(360deg);
    transition-duration: 2s;
}
